@import url("./colors.css");
* {
    border: none;
    color: @text;
    font-family: Hack Nerd Font Mono, Roboto, Helvetica, Arial, sans-serif;
    font-size: 10px;
}

window#waybar {
    background-color: @background-shadow;
}

tooltip {
    background-color: @background;
}

.modules-right {
/*    background-color: @background; */
    padding: 0;
}

.modules-center {
/*    background-color: @background; */
    padding: 0;
    margin: 0;
}

.modules-left {
/*    background-color: @background; */
}

button {
}

button:hover {
}

#workspaces {
}

#workspaces button {
/*    background: @background-shadow;*/
    color: @foreground;
    background: @background-darker;
    padding: 0 4px 0 4px;
    margin: 0;
}

#workspaces button:hover {
    background: @background;
}

#workspaces button.focused {
    background: @background;
}

#workspaces button.urgent {
}

#mode {
    color: @background-darker;
    background: @text;
    padding: 0 2px 0 2px;
}

#clock,
#pulseaudio,
#wireplumber,
#custom-wireguard,
#keyboard-state,
#custom-powermenu,
#backlight,
#network,
#tray,
#custom-weather,
#idle_inhibitor,
#window,
#taskbar,
#battery{
    background-color: @transparent;
    color: @text;
    padding: 0 2px 0 2px;
}

#taskbar button{
    padding: 0 0 0 8px;
    margin: 0;
}

#window{
    padding: 0 4px 0 4px;
    background-color: @background;
}

window#waybar.empty #window{
    background-color: @transparent;
}
